@font-face{font-family:'Gotham-Medium';src:url("fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),url("fonts/Gotham-Medium.otf") format("opentype"),url("fonts/Gotham-Medium.woff") format("woff"),url("fonts/Gotham-Medium.ttf") format("truetype"),url("fonts/Gotham-Medium.svg#Gotham-Medium") format("svg");font-weight:normal;font-style:normal}

.tabs-content {
  margin: 1.5em auto;
  width: 715px;
}
.tabs {
  float: left;
  width: 350px;
  margin-right: 1%;
  text-align: center;
  max-width: 100%;
  transition: all 0.5s;
  border-bottom: 5px solid #9b9b9b;
}
.tabs span {
  font-size: 14px;
  margin: .5em 0;
  display: block;
  color: #9b9b9b;
}
.tabs.open {
  border-bottom: 5px solid #0079c8;
}
.tabs img {
  display: block;
  margin: 0 auto;
}
.tabs img:first-child {
  display: none;
}
.open img:nth-child(2) {
  display: none;
}
.open img:first-child {
  display: block;
}
.open.tabs span {
  color: #0079c8;
}

/* REGLAS MENU */

.nav-title .ac-label {
  position: relative;
  padding: 0;
  margin-bottom: 0;
  display: block;
  cursor: pointer;
  display: block;
  color: #333;
  font-family: "GothamBold";
  padding: 1em 2.5em;
  font-size: 14px;
  text-decoration: none;
}

.ac-input:checked + .ac-label {
  color: #0079c8;
}

.ac-input {
  display: none!important;
}

.ac-text, .ac-sub-text {
  max-height: 0;
  margin: 0;
  transition: max-height .5s linear;
  overflow: hidden;
}

.ac-input:checked ~ .ac-text { 
  max-height: 45vh;
}
.ac-sub .ac-input:checked ~ .ac-sub-text { 
  max-height: 15vh;
}

.ac-sub .ac-label {
  padding: .3em 0 .3em 4em;
  font-family: 'GothamBook';
  margin-bottom: 0;
}

.plus:before {
  content: "+";
  position: absolute;
  left: 1.7em;
  font-size: 20px;
  top: -1px;
}

.ac-sub .ac-label:checked .plus {
  color: #0079c8;
}

.circle-alert {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d81e05;
  position: absolute;
  right: 4em;
  top: 15px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  line-height: 22px;
}

.ac-text .a {
  position: relative;
}
.ac-text .a span {
  position: absolute;
  right: 18px;
  top: 10px;
  font-family: "GothamBook";
  font-size: 10px;
}
.ac-text li:last-child {
  padding-bottom: 1.5em;
}
.ac-sub-text {
  list-style: none;
  padding: 0 0 0 5em;
  margin: 0;
}
.ac-sub-text li {
  margin: .5em 0 .5em;
}
.ac-sub-text li:last-child {
  padding-bottom: .5em;
}
.ac-sub-text a {
  font-size: 12px;
  color: #333;
}

.nav-title .arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin: .2em;
  padding: 3px;
  transform: rotate(45deg);
  transition: .5s;
  position: absolute;
  right: 1em;
  top: 1.3em;
}

.ac-input:checked + .ac-label .arrow {
  transform: rotate(-135deg);
  border: solid #0079c8;
  border-width: 0 2px 2px 0;
  top: 1.4em;
}

/* REGLAS ACORDEON PLANES */

.accordeon-plans li {
  list-style: none;
}
.accordeon-plans h2 {
  font-family: 'Gotham-Medium';
  font-size: 36px;
}
.accordeon-plans p {
  font-family: 'Gotham-Medium';
  font-size: 14px;
  color: #7a7a7a;
}
.accordeon-plans .head-title {
  position: relative;
}

.accordeon-plans .arrow {
  border: solid #0079c8;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin: .2em;
  padding: 5px;
  transform: rotate(45deg);
  transition: .5s;
  position: absolute;
  right: 1em;
  top: 1.3em;
}

.accordeon-plans .ac-input:checked ~ .ac-text { 
  max-height: 45vh!important;
}

.accordeon-plans .ac-input:checked + .ac-label .arrow {
  transform: rotate(-135deg);
  border-width: 0 3px 3px 0;
  top: 1.4em;
}
.hr-grey_full {
  margin: 0;
  border-width: 1px;
  border-top: 1px solid #b5b6b8;
  width: 100%;
}
.head-title h2 a {
  background: none;
}
.finder.u-pull-left input {
  min-width: 15em;
  width: 80%;
}

@media (max-width: 900px){
  .accordeon-plans h2 {
    font-size: 18px;
  }
  .tabs-content {
    width: 100%;
  }
  .tabs {
    width: 49%;
  }
}
